@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-twitter, .icon-facebook, .icon-googleplus, .icon-pinterest, .icon-instagram, .icon-envelope-alt, .icon-cart, .icon-clipboard, .icon-remove, .icon-arrow-down, .icon-arrow-up, .icon-arrow-right, .icon-arrow-left, .icon-tumblr, .icon-chevron-right, .icon-chevron-left, .icon-repeat, .icon-chevron-up, .icon-chevron-down, .icon-heart, .icon-quote-left, .icon-quote-right, .icon-lifebuoy, .icon-clock, .icon-calendar, .icon-bolt, .icon-search, .icon-comments, .icon-thumbs-up, .icon-heart-2, .icon-youtube {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
	content: "\e003";
}
.icon-facebook:before {
	content: "\e005";
}
.icon-googleplus:before {
	content: "\e023";
}
.icon-pinterest:before {
	content: "\e004";
}
.icon-instagram:before {
	content: "\f054";
}
.icon-envelope-alt:before {
	content: "\f053";
}
.icon-cart:before {
	content: "\f078";
}
.icon-clipboard:before {
	content: "\f077";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-tumblr:before {
	content: "\e000";
}
.icon-chevron-right:before {
	content: "\e001";
}
.icon-chevron-left:before {
	content: "\f01e";
}
.icon-repeat:before {
	content: "\e002";
}
.icon-chevron-up:before {
	content: "\e006";
}
.icon-chevron-down:before {
	content: "\e007";
}
.icon-heart:before {
	content: "\f0e0";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-lifebuoy:before {
	content: "\e008";
}
.icon-clock:before {
	content: "\e00a";
}
.icon-calendar:before {
	content: "\e00c";
}
.icon-bolt:before {
	content: "\e00d";
}
.icon-search:before {
	content: "\f002";
}
.icon-comments:before {
	content: "\f086";
}
.icon-thumbs-up:before {
	content: "\f087";
}
.icon-heart-2:before {
	content: "\e009";
}
.icon-youtube:before {
	content: "\e00b";
}
